.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*display: none;*/
  align-items: center;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  /*position: absolute;
  top: 50%;
  left: 50%;*/
}

.modal__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  margin: 34px 64px 38.26px 36px;
}

.modal__close-button {
  background: transparent url(../images/Close-Icon.svg) center no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  position: absolute;
  top: 162px;
  /*right: 40px;*/
  left: 924px;
  transform: rotate(90deg);
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .modal__container {
    font-size: 14px;
    margin: 0 22px;
    width: 282px;
    height: 322px;
    top: 123px;
    position: absolute;
  }

  .modal__heading {
    width: 238px;
    margin-top: 25px;
    margin-right: 22px;
    margin-bottom: 45px;
    margin-left: 22px;
  }
}
